<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Layout Practise</title>
    <link href="reset.css" rel="stylesheet" type="text/css">
    <link href="Task1.css" tytle="Task1" rel="stylesheet" type="text/css">
    <link href="Task2.css" tytle="Task1" rel="stylesheet" type="text/css">
    <link href="Task3.css" tytle="Task1" rel="stylesheet" type="text/css">
    <link href="Task4.css" tytle="Task1" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
		<form>
			<input type="submit" onclick="switch_style('blue');return false;" name="theme" value="Blue Theme" id="blue">
			<input type="submit" onclick="switch_style('pink');return false;" name="theme" value="Pink Theme" id="pink">
		</form>
	</header>
    <main class="center">
        <article><span>This is the main content</span></article>
    </main>
        <aside class="left">This is the left-outer content</aside>
        <aside class="right">This is the right-outer content</aside>
    <footer>
        <section class="footer">This is the footer</section>
        <section class="right-footer">This is the right footer</section>
        <section class="left-footer">This is the left footer</section>
    </footer>
</body>
</html>