<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Layout Practise</title>
    <link href="reset.css" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>This is the header</header>
    <main class="center">
        <article>This is the main content</article>
    </main>
        <aside class="left">This is the left-outer content</aside>
        <aside class="right">This is the right-outer content</aside>
    <footer>
        This is the footer
        <section class="right footer">This is the right footer</section>
        <section class="left footer">This is the left footer</section>
    </footer>
</body>
</html>