<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Practise</title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>

<div class=row>
    <div class="container col-md-offset-1.9 col-md-8.2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a><strong>xeferi.com</strong></a></li>
        </ul>
    </div>
</div >
<br/>
<div class="row">
    <div class="container col-md-offset-2 col-md-8">
        <div class="row">
            <strong>Lorem ipsum dolor sit amet</strong>
        </div>
        <br/>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            </div>
            <div class="panel-body">
                Cumque cupiditate iure laborum libero
                placeat quam quibusdam tenetur vel veritatis voluptate.
                Aliquam aperiam aut doloremque eius nam quo, reiciendis reprehenderit voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur atque blanditiis
                dolorum excepturi fugiat incidunt maxime nulla odio,pariatur praesentium sed sint voluptatibus? Excepturi exercitationem laborum nihil tempora veritatis.
            </div>
            <div class="panel-footer ">
                consectetur adipisicing elit. Cumque cupiditate iure laborum libero
                placeat quam quibusdam tenetur vel veritatis voluptate.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-md-offset-2 col-md-8">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            </div>
            <div class="panel-body">
                Cumque cupiditate iure laborum libero
                placeat quam quibusdam tenetur vel veritatis voluptate.
                Aliquam aperiam aut doloremque eius nam quo, reiciendis reprehenderit voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur atque blanditiis
                dolorum excepturi fugiat incidunt maxime nulla odio,
                pariatur praesentium sed sint voluptatibus? Excepturi exercitationem laborum nihil tempora veritatis.
            </div>
            <div class="panel-footer ">
                consectetur adipisicing elit. Cumque cupiditate iure laborum libero
                placeat quam quibusdam tenetur vel veritatis voluptate.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-md-offset-2 col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            </div>
            <div class="panel-body">
                Cumque cupiditate iure laborum libero
                placeat quam quibusdam tenetur vel veritatis voluptate.
                Aliquam aperiam aut doloremque eius nam quo, reiciendis reprehenderit voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur atque blanditiis
                dolorum excepturi fugiat incidunt maxime nulla odio,
                pariatur praesentium sed sint voluptatibus? Excepturi exercitationem laborum nihil tempora veritatis.
            </div>
            <div class="panel-footer ">
                consectetur adipisicing elit. Cumque cupiditate iure laborum libero
                placeat quam quibusdam tenetur vel veritatis voluptate.
            </div>
        </div>
    </div>
</div>
</body>
</html>